<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/resource :: common_resource(~{::title},~{},~{})">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Insert title here</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i>首页
	<span class="c-gray en">&gt;</span>用户管理 
	<span class="c-gray en">&gt;</span>角色管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">
	<div class="text-l">
<!-- 		<button id="searchBook" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图书</button> -->
	</div>

	<div class="mt-10">
		<h4 class="text-c">角色授权</h4>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th style="width: 30px;"><input type="checkbox" id="all_checked"></th>
					<th>角色名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody th:each="role : ${list}">
				<tr class="text-c">
					<td><input type="checkbox" th:value="${role.id}"></td>
					<td th:text="${role.name}"></td>
					<td>
						<a th:href="@{/role/toEditRoleMenu.do(id=${role.id })}" title="授权">授权</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>